.student-photo{
    height: 81px;
    width: 81px;
    border-radius: 50px;
}

.student-delivery-card{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #C1C1C1;
    border-radius: 10px;
    width: 420px;
    padding-inline: 10px ;
    cursor: pointer;
}

.delivery-status{
    align-self: flex-start;
}