.commentary{
     width: 100%;
     display: flex;
     margin-bottom: 20px;
     justify-content: space-between;
}

.commentary .student-photo{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.header { 
    margin-bottom: 5px;
}

.body{
    margin-top: 5px;
    border-top: 0.5px solid gray ;
}

.commentary-user-name{
    width: 80%;
    margin-right: 5%;
    
}
