a{
    width: 180px;
    height: 38px;
    margin-bottom: 12px; 
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-text{
    margin-left: 10px;
}

.activeButton{
    color: #456086;
    background-color: #FAFBFF;
    margin-inline: 0;
    padding-inline: 0;
}

.inactiveButton{
    color: #000000;
}