button{
    margin-block: 1vh;
    cursor: pointer;
}

.blue-button{
    background-color: #456086;
    color: #ffffff;
    border:none;
}

.white-button{
    background-color: #ffffff;
    border: 1px solid black;
}
