.button{
    margin-block: 1vh;
    cursor: pointer;
    margin-left: 0px;  
}

.button p{
    margin: 0;
    padding: 0;
}


.blue-button{
    background-color: #456086;
    color: #ffffff;
    border:none;
}

.white-button{
    background-color: #ffffff;
    border: 1px solid black;
}

.red-button{
    background-color: #ff2424;
    color: #ffffff;
    border:none;
}

.purple-button{
    background-color: #5800E8;
    color: #ffffff;
    border:none;
}