.navbar{
    grid-area: header;
    height: 39px;
    border-bottom: 1px solid #B7B7B7;
    padding-top: 5px;
    padding-bottom: 6px;
    display: flex;
    padding-inline:70px ;
    align-items: center;
    justify-content: space-between
}

.navbar-button{
    height: 27px;
    width: 48px;
    margin: 0;
    padding: 0;
    color: black;
}

.logo{
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo-image{
    height: 40px;
    width: 44px;
    margin-right: 10px;
}
