.navbar{
    grid-area: header;
    height: 39px;
    border-bottom: 1px solid #B7B7B7;
    padding-top: 5px;
    padding-bottom: 6px;
}

.logo{
    height: 100%;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo-image{
    height: 40px;
    width: 44px;
    margin-right: 10px;
}
