select{
    width: 80px;
}

.calification-section{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.gray-text{
    color: gray;
    margin-inline: 5px;
}

.left-section .button{
    margin-left: 20px;
}