main {
  padding-inline: 70px;
}

.center-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-block: auto;
  margin-top: 10vh;
}

.input-field{
    border:2px solid black;
    height: 38px;
    width: 292px;
}