.sideBar{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #D3D3D3;
    width: 175px;
    height: 92vh;
}

.profile-img{
    height: 80px;
    width: 84px;
    border-radius: 100px;
}