.sideBar{
    display: block;
    grid-area: aside;
    border-right: 1px solid #D3D3D3;
    padding-top: 15px;
    width: 174px;
    height: 90vh;
}

.sideBar-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img{
    height: 80px;
    width: 84px;
    border-radius: 100px;
}